<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymepleaf.org/extras/spring-security">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>AdminPage</title>
    <script>
        function deleteMember(button){
            let id = button.parentNode.parentNode.querySelector('.userId').textContent;
            if (confirm('정말 삭제하시겠습니까?')) {
                $.ajax({
                    url: "/deleteByAdmin",
                    method: "GET",
                    data: {"userId": id},
                    success: function () {
						alert('삭제 완료!');
                        location.reload()
                    }
                });
            }
        };

		// 게시글 삭제를 위한.. 버튼을 눌렀을때~
        $(document).ready(function () {
	        $(".deleteBoard").on("click", function () {
		        let boardNo = $(this).val();
		        deleteBoard(boardNo);
	        })
        });
		// 게시글 삭제
        function deleteBoard(boardNo){
	        if (confirm('정말 삭제하시겠습니까?')) {
		        $.ajax({
			        url: "/deleteBoard",
			        method: "GET",
			        data: {"boardNo": boardNo},
			        success: function () {
				        alert("뿡");
				        location.reload()
			        }
		        });
	        }
        };

		// 회원 활성/비활성 수정
        function updateMember(button){
	        let row = button.closest("tr");
	        let id = row.querySelector(".userId").textContent;
	        let enabledSelect = row.querySelector(".enabled-select");
	        let enabled = enabledSelect.value === "true";

	        if (confirm('정말 수정하시겠습니까?')) {
		        $.ajax({
			        url: "/updateByAdmin",
			        method: "GET",
			        data: {"userId": id, "enabled": enabled},
			        success: function () {
						alert("수정 완료!");
				        location.reload();
			        }
		        });
	        }
        };

        function toggleData(buttonId) {
            let dataDiv = document.getElementById(buttonId + '-data');
            if (dataDiv.style.display === 'none') {
                dataDiv.style.display = 'block';
            } else {
                dataDiv.style.display = 'none';
            }
        }

    </script>
    <style>
        .data {
            display: none;
        }
    </style>
</head>
<body>
<div>

    <div class="row g-5 w-100 "style="padding-left: 20px">
        <div class="col-md-7 col-lg-12 mx-auto" style="padding-top: 20px">
            <h4>관리자 페이지 입니다.</h4>
            <hr  class="my-hr3">
            <div> <!--회원 관리-->
                <p> <b>전체 회원수 :</b> <span th:text="${#lists.size(members)}"></span></p>
                <span><b>회원 정보:</b></span>

                    <table id = "UserList" >
                        <tr>
                            <th>번호</th>
                            <th>아이디</th>
                            <th>닉네임</th>
                            <th>가입일</th>
                            <th>이메일 인증 여부</th>
	                        <th>활성/비활성화</th>
	                        <th>수정</th>
                            <th>회원 탈퇴</th>
                        </tr>

                        <tr th:each = "member:${members}"  style="text-align: center;">
                            <td th:text = "${member.userNo}"></td>
                            <td th:text = "${member.userId}" class="userId"></td>
                            <td th:text = "${member.userNickname}"></td>
                            <td th:text = "${member.regDate}"></td>
	                        <td th:text = "${member.userEmailYn} ? '인증' : '미인증'"></td>
	                        <td>
		                        <select class="enabled-select" th:model="${member.enabled}">
			                        <option value="true" th:text="'활성'" th:selected="${member.enabled}"></option>
			                        <option value="false" th:text="'비활성'" th:selected="!${member.enabled}"></option>
		                        </select>
	                        </td>
	                        <td>
		                        <button class="updateMember" type="button" onclick="updateMember(this)">수정</button>
	                        </td>
                            <td>
	                            <button class="deleteMember" type="button" onclick="deleteMember(this)">회원 탈퇴</button>
                            </td>
                        </tr>
                    </table>
            </div>
            <hr>

                <!--여기는 지역별 데이터-->
                <p> <b>전체 게시글 수  :</b> <span th:text ="${totalLength}"></span>개</p>

                <table id = "boardTable" th:each="entry : ${categorizedBoards.entrySet()}">
                    <br>

                    <a th:text="${entry.key}"></a>
                    <tr>
                        <th>게시글 번호</th>
                        <th>유저 번호</th>
                        <th>닉네임</th>
                        <th>글 제목</th>
                        <th>글 작성일</th>
                        <th>추천수</th>
                        <th>조회수</th>
                        <th>지역</th>
	                    <th>삭제</th>
                    </tr>

                    <tr th:each=" board: ${entry.value}">
                        <td th:text="${board.boardNo}"></td>
                        <td th:text="${board.userNo}"></td>
                        <td th:text="${board.userNickname}"></td>
	                    <td><a th:href="@{/readBoard(boardNo=${board.boardNo})}" th:text="${board.boardTitle}"></a></td>
	                    <td th:text="${board.inputDate}"></td>
                        <td th:text="${board.recommend}"></td>
                        <td th:text="${board.boardView}"></td>
                        <td th:text="${board.localCategory}"></td>
	                    <td><button class="deleteBoard" th:value="${board.boardNo}">삭제</button></td>
                    </tr>
                    <hr>

                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>