<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.trip.dao.MemberDao">

    <!-- 회원정보추가 -->
    <insert id="insertMember" parameterType="Member">
        INSERT INTO Member (USER_id, USER_PW, USER_NICKNAME, USER_EMAIL)
        VALUES (#{userId}, #{userPw}, #{userNickname}, #{userEmail})
    </insert>
    <!--모든 회원 정보 가져오기-->
    <select id="selectAllMember" resultType="Member">
        SELECT user_no       as userNo,
               user_id       as userId,
               user_nickname as userNickname,
               reg_date      as regDate,
               user_email_yn as userEmailYn,
               CASE enabled
                   WHEN 1 THEN true
                   ELSE false
               END as enabled
        FROM MEMBER
        WHERE rolename = 'ROLE_USER'
    </select>
    <!-- 한명의 회원정보 가져오기 -->
    <select id="selectOneMember" parameterType="string" resultType="Member">
        SELECT user_no       as userNo,
               user_id       as userId,
               user_pw       as userPw,
               user_nickname as userNickname,
               user_email    as userEmail,
               reg_date      as regDate,
               user_email_yn as userEmailYn,
               rolename      as roleName
        FROM MEMBER
        WHERE USER_ID = #{userId}
    </select>

    <!-- 회원정보삭제 -->
    <delete id="deleteMember" parameterType="Member">
        DELETE
        FROM MEMBER
        WHERE USER_ID = #{userId}
    </delete>

    <!-- 회원정보수정하기 -->
    <update id="updateMember" parameterType="String">
        UPDATE
            MEMBER
        SET USER_PW = #{encodedPassword}
        WHERE USER_ID = #{userId}
    </update>
    <!-- 조건부 검색 -->
    <select id="selectByName" parameterType="string" resultType="Member">
        SELECT user_no       as userNo,
               user_id       as userId,
               user_pw       as userPw,
               user_nickname as userNickname,

               user_email    as userEmail,
               reg_date      as regDate,
               user_email_yn as userEmailYn,
               rolename      as roleName
        FROM MEMBER
        where user_nickname = #{userNickname}
    </select>
    <!-- 조건부 검색 -->
    <select id="selectByEmail" parameterType="string" resultType="Member">
        SELECT user_no       as userNo,
               user_id       as userId,
               user_pw       as userPw,
               user_nickname as userNickname,
               user_email    as userEmail,
               reg_date      as regDate,
               user_email_yn as userEmailYn,
               rolename      as roleName
        FROM MEMBER
        where user_email = #{userEmail}
    </select>
    <!-- 관리자 회원정보 수정하기 -->
    <update id="updateRole" parameterType="hashmap">
        UPDATE
            MEMBER
        SET
            ENABLED = #{enabled}
        WHERE USER_ID = #{userId}
    </update>
</mapper>
