<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymepleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>[글 목록]</title>
  <script>
    function pagingFormSubmit(currentPage) {
      let form = document.getElementById("pagingForm");
      let page = document.getElementById("page1");
      page.value = currentPage;
      form.submit();
    }
  </script>
</head>
<body>
<h1>글 목록</h1>

<a th:href="@{/}">홈으로</a>
<!-- 글 목록 보여줄 곳 -->
<table border="1">
  <tr>
    <th>글 번호</th>
    <th>제목</th>
    <th>작성자</th>
    <th>작성일시</th>
    <th>좋아요</th>
    <th>조회수</th>
  </tr>
  <!-- !!!반복할것임!!! -->
  <tr th:each ="board:${boardList}">
    <td th:text ="${board.boardNo}"></td>
    <td>
      <a th:href ="@{/readBoard(boardNo =${board.boardNo})}" th:text="${board.boardTitle}"></a>
    </td>
    <td th:text ="${board.userNickname}"></td>
    <td th:text ="${board.inputDate}"></td>
    <td th:text = "${board.recommend}"></td>
    <td th:text ="${board.boardView}"></td>
  </tr>
</table>
<a th:if="${#httpServletRequest.userPrincipal != null}" href = "/writeBoard">글쓰기</a>
<span th:if="${#httpServletRequest.userPrincipal == null}" >
   글을 작성하려면
   <a href = "/login">로그인</a>하세요
</span>

<div id="page">
    <!-- 페이지 이동링크 -->
    <a th:href="|javascript:pagingFormSubmit(${navi.currentPage - navi.pagePerGroup})|">◁◁</a>
    <a th:href="|javascript:pagingFormSubmit(${navi.currentPage - 1})|">◀</a>
    <span th:each="counter : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
            <th:block th:if="${counter == navi.currentPage}"><b></th:block>
            <a th:text="${counter}" th:href="|javascript:pagingFormSubmit(${counter})|"></a>&nbsp;
            <th:block th:if="${counter == navi.currentPage}"></b></th:block>
        </span>
    <a th:href="|javascript:pagingFormSubmit(${navi.currentPage + 1})|">▶</a>
    <a th:href="|javascript:pagingFormSubmit(${navi.currentPage + navi.pagePerGroup})|">▷▷</a>
  <form id="pagingForm">
    <input type="hidden" name="page" id="page1" value="${navi.currentPage}" />
    <input type="hidden" name="category"  th:value="${category}" />
    <input type="hidden" name="keyword"  th:value="${keyword}" />

  </form>
</div>

<!-- 검색 -->
<form action="/board" method="get">
  <table>
    <tr>
      <td>
        <select name = "category"> <!-- category 라는 파라미터로 보낼 것임 -->
          <option value="boardTitle_summary" th:selected = "${category == 'boardTitle_summary'}">제목+내용</option>
          <option value="userNickname" th:selected = "${category == 'userNickname'}">작성자</option>
        </select>
      </td>
      <td>
        <input type="text" name="keyword" th:value ="${keyword}" >
        <input type="submit" value="검색하기">
      </td>
    </tr>
  </table>
</form>

</body>
</html>