<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>[글보기]</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function (){
            $('#eh').show();
            let bNum = $("#boardNum").text();
            $.ajax({
                url: "/checkRecommend",
                method:"post",
                data: {"boardNo" : parseInt(bNum)},
                success : function(data){
                    if(data=="OK"){
                        $('#fh').hide();
                    }else if(data =="NG"){
                        $('#eh').hide();
                        $('#fh').show();
                    }
                }
            });
            });

        function checkHeart(){
            let bNum = $("#boardNum").text();
            $.ajax({
                url: "/recommend",
                method:"post",
                data: {"boardNo" : parseInt(bNum)},
                success : function(data){
                    $("#rec3").text(data.value2);
                    if(data.value1=="OK"){
                        $('#eh').hide();
                        $('#fh').show();

                    }else{
                        $('#eh').show();
                        $('#fh').hide();
                    }
                }
            });
        };

    </script>
</head>
<body>
<h1>글보기</h1>
<table th:object="${board}" border=1>
    <tr>
        <th th:text="*{boardNo}" id ="boardNum">글번호</th>
        <th th:text="*{boardTitle}" colspan="2">제목</th>
    </tr>
    <tr>
        <th th:text="*{userNickname}">글쓴이</th>
        <th th:text="*{inputDate}">글쓴 시간</th>
        <th th:text="*{boardView}">조회수</th>
    </tr>
    <tr>
        <th colspan="3" th:text="*{boardSummary}">내용</th>
    </tr>
    <tr>
        <th colspan="3">
            <span id = "rec3" th:text="*{recommend}">0</span>&nbsp;&nbsp;
            <a href="javascript:checkHeart();"><img src="img/eHeart.png" alt="" width="30" height="auto" id = "eh"></a>
            <a href="javascript:checkHeart();"><img src="img/fHeart.png" alt="" width="30" height="auto" id = "fh"></a>
            </tr>
        </th>

    <tr>
        <th>
            <a th:href="|/updateBoard?boardNo=${board.boardNo}|">수정하기</a>
        </th>
        <th>
            <a th:href="|/deleteBoard?boardNo=${board.boardNo}|">삭제하기</a>
        </th>
        <th>
            <a th:href="@{/board}">목록보기</a>
        </th>
    </tr>


</table>

</body>
</html>